.winners
  %h3.winners__title
    RewardExpert’s 2017 Study Abroad Scholarship Recipients
  %p.winners__text
    We want to congratulate 2 scholarship recipients section with:
  .winners__testimonials   
    %picture
      %source{ srcset: "#{image_path('renee_dominguez@1x.jpg')}, #{image_path('renee_dominguez@2x.jpg')} 2x" }
      %img.testimonials__img{ srcset: "#{image_path('renee_dominguez@1x.jpg')}, #{image_path('srenee_dominguez@2x.jpg')} 2x", alt: 'Renee Dominguez' }
    %p.testimonials__text
      <span class="quotes">“</span> I am a senior at Texas State University in San Marcos, and I plan on talking Travel Journalism and International Strategic Communication while studying abroad in London and Rome this summer. I am very excited to learn about journalism and communication in a foreign country because I truly believe in diversity in the workplace. I hope to learn as much as I can about the cultures in these countries while I am abroad to strengthen my understanding of the world around me. I expect this experience to help me improve in my storytelling and communication skills.<span class="quotes">”</span>
    %cite.testimonials__author — Renee Dominguez
  .winners__testimonials
    %picture
      %source{ srcset: "#{image_path('lorena@1x.jpg')}, #{image_path('lorena@2x.jpg')} 2x" }
      %img.testimonials__img{ srcset: "#{image_path('lorena@1x.jpg')}, #{image_path('slorena@2x.jpg')} 2x", alt: 'Lorena Hernandez' }
    %p.testimonials__text
      <span class="quotes">“</span> I’m exceptionally grateful for the opportunity to travel abroad to Nepal, Jordan and Chile next semester, made possible largely by this generous scholarship. As an Economics major with minors in Education Policy and Poverty & Human Capability Studies at Washington and Lee University, I want to spend my life making other people’s lives better. I hope that my time abroad will give me insights into the most effective ways to make a difference, while exploring three beautiful cultures and connecting with individuals around the world. I could not be more excited for the adventures that next semester will bring.<span class="quotes">”</span>
    %cite.testimonials__author — Lorena Hernandez Barcena



